<!DOCTYPE html>
<html>
<head>
  <title>Vkontakte</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<ul class="top_links">
			<li>
				<% if user_signed_in? %>
				<%= link_to "Search", users_path %>
				<b><%= link_to "log out", destroy_user_session_path %></b>
				<% else %>
					<b><%= link_to "sign up", new_user_registration_path %></b>
				<% end %>
			</li>
		</ul>
	</header>

	<nav class="left">
		<ul class="menu">
			<% if user_signed_in? %>
				<li><%= link_to 'Profile', root_path%></li>
				<li><%= link_to  'Friends', req_path  %> <%= friends_count %></a></li>
				<li><a href="#">Photos</a></li>
			<% else %>
				<%= render 'devise/sessions/new' %>
			<% end %>
		</ul>
	</nav>

	<section>
	<div id="main">
	<% unless user_signed_in? %>
			<%= render 'layouts/registration' %>
	<%else%> 
		<%= yield %>
	<% end %>
	</div>
	</section>



</body>
</html>
